<%# cache("#{site.id.to_s}_#{I18n.locale.to_s}_site_footer") do %>
    <!-- Footer
   ================================================== -->
    <div id='footer-container' class='container-fluid hide-on-mobile hide-on-print'>
		<div  id="contact-footer-row" class="row-fluid">
			<div class="span4"> 
				<h2>Question?</h2>
				<%= render "inquiries/form" %>
			</div>
			<div class="span4">
				<h2>Contact</h2>
			
			</div>
			<div class="span4">
				<h2>Contact</h2>
				<%= render 'shared/pipe_menu', :mobile_behaviour => "hide-on-mobile" %>
			</div>
		</div>
      <div id="credit-footer-row" class='row-fluid'>
        <div class="span12">
            <%= render 'shared/tools_menu', :mobile_behaviour => "hide-on-mobile" %>
        </div>
      </div>
    </div>
<%# end %>