<%# resource_cache(resource) do %>
<% if resource.images.any? %>
<div class='page-images no-pad'>
  <%= render_slideshow_for(resource, :plugin => 'carousel') %>
</div>
<% end %>
<article class='article-content'>
   <%= render_html_text(resource.body) %>
</article>
<%# end %>
