<%# resource_cache(resource) do %>
<div class='container'>
  <div class='row'>
    <div class="col-xs-12">
      <article>
    	  <%= render_slideshow_for(resource, :plugin => 'carousel') %>
    	  <%= render_html_text(resource.body) %>
      </article>
    </div>
  </div>
</div>

<%# end %>