/* THEME VARIABLES
-------------------------------------------------- */
$theme-color: #d61941; 
$max-image-width: 950px;
$th-brand-logo-height: 52px;
$sidebar-width: 220px;


/* IMPORTS
-------------------------------------------------- */ 
@import "theme/variables"; 
@import "bootstrap.3.0.3/bootstrap"; 
@import "font-awesome-4.0.3/font-awesome"; 
@import "theme/navbar";
@import "theme/footer";
@import "theme/form"; 
@import "theme/home"; 

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* PATCHES
-------------------------------------------------- */

// Color for the placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

// Gmap patches
#map-canvas {
  height: 400px;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

/* GLOBAL
-------------------------------------------------- */
// We do not want focus
a:focus,
.btn:focus {
  outline: 0;
}
::selection {
	background-color: $brand-primary;
	color: #ffffff;
}
a {
  @include transition(all 0.3s ease-in-out);
}

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
	display: none;
} 
.container-fluid {
	padding: 0;
}
#main-container {
	
	background-color: white;	
}
#site-subtitle {
	display: none;
}
hr {
	width: 28px;
	@include center-block();
}


/*-----------------------------------------
 CONTENT
----------------------------------------- */
.html-text {
	padding: 10px 100px 40px;
	text-align: center;
	padding: $baseLineHeight 21px;
}
article {
	.article-content {
		position: relative;
	}
	.snap {
		z-index: 10;
		position: absolute;
		top: -9px;
		left: 50%;
		margin-left: -9px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $white;
	}

}
.article-inverse {
	background: $grayDarker; 
	.html-text {
		color: $gray;
		font-size: 40px;
		letter-spacing: 4px;
		line-height: 50px;
		padding: 100px;
		text-align: center;
		font-style: italic;
		font-family: $serifFontFamily;
	}
	hr {
		color: $black;
	}
}
.page-title {
	letter-spacing: 4px;
	text-align: center;
	text-transform: capitalize;
	font-style: italic;
	line-height: 90px;
	font-weight: 300;
	font-size: 64px;
	font-family: $serifFontFamily;
	padding: 60px 21px $baseLineHeight 21px;
}


/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";
@import "gko/default_responsive";
@media (max-width: 979px) {
	body {
		padding: 0;
	}
	/*-- HEADER
	----------------------------------------- */
	.navbar {
		margin-bottom: 0;
		
		.btn-navbar {
			color: $black;
		}
		.btn-navbar:hover, 
		.btn-navbar:active, 
		.btn-navbar.active, 
		.btn-navbar.disabled, 
		.btn-navbar[disabled] {
			color: $grayDark;
		}
	}

	.navbar-inner {
		padding: 0;
		@include gradient-vertical($white, $white);
		@include border-radius(none);
		@include box-shadow(none);
	}
	.nav-collapse {
		
		.nav > li {
			&.dropdown {
				border-top: 1px dotted $navbarLinkColor;
			}
			&:first-child {
				border-top: none;
			};
		}
		.nav > li > a, 
		.dropdown-menu a {
			text-align: center;
			font-weight: normal;
		}
		 .dropdown-menu {
			padding-bottom: 8px;
			a {
				color: $navbarLinkColor;
				font-family: $serifFontFamily;
				font-style: italic;
				@include border-radius(none);
				padding: 2px 0;
				&:hover {
					color: $navbarLinkColorHover;
				};
			}
		}
	}

	.navbar ul.nav > li > a {
		padding-top: 8px;
	}
	
	#locales-menu {
		position: absolute;
		top: $baseLineHeight / 4;
		right: $baseLineHeight / 4;
	}
}
@media (min-width: 980px) {
	.galleria-container {
		//max-height: 600px;
	}
	/*-- LAYOUT
	----------------------------------------- */
	#wrapper-wide-body {
		min-width: 980px - $sidebar-width;
		max-width: $max-image-width;
		min-height: 100%;
		float: left;
		background-color: $white;
		padding-left: $sidebar-width;
		position: relative;
	}
	#main-container {
		position:relative;
		padding-bottom:$copyrightHeight;   /* Height of the footer */
	}

	#copyright-container {
		min-width: 980px - $sidebar-width;
		max-width: $max-image-width;
		position: absolute;
		bottom: 0;
		background-color: $white;
	}
	/*-- HEADER
	----------------------------------------- */

	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100%;
		z-index: 10;
		min-width: $sidebar-width;
		width: $sidebar-width;
		background-color: $navbarBackground;
		.brand {
			float: none;
			clear: both;
			@include center-block();
			position: absolute;
			width: $sidebar-width - 40;
		}	
		.nav-menu {
			margin: $baseLineHeight/4 0;
			padding: $baseLineHeight/4 0;
		}
		.nav-collapse {
			position: absolute;
			top: 30.19%;
			width: $sidebar-width - 40;
			@include center-block();
		}
		hr {
			display: block;
			color: $grayLight;
		}
		
	}
	#locales-menu {
		float: none;
		text-align: center;
	}
	#locales-menu ul.nav {
		@include center-nav();
	}

	.footer-nav {
		top: auto;
		bottom: 35px;
		@include center-nav();
		text-align: center;
	}

}