<% cache([site, I18n.locale, 'footer']) do %> 
<!-- Footer
================================================== -->
 <footer id='footer-container' class='container-fluid hide-on-print'>
   <div id='footer' class='row-fluid'>
     <div class="span12 footer-content hidden-desktop">
		<%= render_menu('tools') %>
		<%= render 'contact' %>
     </div>
   </div>
  <%= render 'copyright' %>
 </footer> 
<% end %>
